@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
  font-family: "Montserrat";
}

* {
  box-sizing: border-box;

}

.container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 0 50px;

  @media (max-width: 1024px) {
    padding: 0 30px;
  }

  @media (max-width: 768px) {
    padding: 0 20px;
  }

  @media (max-width: 576px) {
    padding: 0 15px;
  }
}

.steps {
  display: flex;
  flex-direction: column;
  align-items: center;

  .step {
    max-width: 675px;
    width: 100%;
  }
}

.form-field {

  width: 100%;
  margin: 10px 0;

  input {
    width: 100%;
    border-radius: 10px;
    padding: 15px 20px;
    background: #f5f4f9;
    border: unset;
    outline: none;
    transition: 0.3s ease;
    font-size: 16px;

    &::placeholder {
      font-weight: 400;
      font-size: 16px;
      line-height: 120%;
      color: #949494;
    }

    &:focus {
      border: 1px solid #d9d9d9;
      background-color: #fff;
    }
  }

  .placeholder {
    font-size: 18px;

  }

  .error {
    color: red;
    font-size: 15px;

  }
}

.step {
  display: flex;
  align-items: center;
  flex-direction: column;

  .titleStep {
    width: 100%;
    font-size: 32px;
    line-height: 120%;
    color: #171414;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    cursor: pointer;

    &.active img {
      transform: rotate(180deg);
    }

    img {
      width: 32px;
      height: 32px;

      transition: .3s;

      @media(max-width: 576px) {
        width: 20px;
        height: 20px;
      }
    }

    @media (max-width: 820px) {
      font-size: 28px;
    }

    @media (max-width: 576px) {
      font-size: 20px;
    }
  }

  .wrp {
    width: 100%;
  }
}

.btn-wrp {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-gap: 30px;
}

.btn {
  padding: 10px 15px;
  max-width: 270px;
  width: 100%;
  cursor: pointer;
  border-radius: 7px;
  text-align: center;
  background-color: #feca0a;

  &.btn-black {
    background-color: #000;
    color: #fff;
  }
}